<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    ユーザー情報入力
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
    <li class="active">Here</li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
  <!--------------------------
     | Your Page Content Here |
    -------------------------->
  <div class="row">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="col-md-6">
        <div class="box box-primary">
          <br/>
          <!-- /.box-header -->
          <!-- form start -->
          <form role="form">
            <div class="box-body">
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="form-group">
                <%= f.label :社員名 %><br />
                <%= f.text_field :name, class: "form-control", autofocus: true %>
              </div>
              <div class="form-group">
                <%= f.label :メールアドレス %><br />
                <%= f.email_field :email, class: "form-control", autofocus: true %>
              </div>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>本人承認待ち: <%= resource.unconfirmed_email %></div>
              <% end %>
              <div class="form-group">
                <%= f.label :権限 %><br />
                <%= f.collection_select :role_id, Role.all, :id, :name, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :パスワード %> <i>(初期パスワード未実装)</i><br />
                <%= f.password_field :password, class: "form-control" %>
                <% if @minimum_password_length %>
                  <em>※<%= @minimum_password_length %> 桁以上のパスワードを入力してください</em>
                <% end %>
              </div>
              <div class="form-group">
                <%= f.label :パスワード再入力 %><br />
                <%= f.password_field :password_confirmation, class: "form-control" %>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer actions">
              <%= link_to '戻る', users_path, class: 'btn btn-primary' %>
              <%= f.submit "登録", class: "btn btn-primary pull-right" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>
